---
import Layout from '../layouts/Layout.astro';
---

<Layout>
    <div class="container">
        <h1>可选的其他方案</h1>
        <p>由于 manim 想要入门，门槛较高，且有无数人被卡在安装环境的阶段，如果你还是想做一些这样的视频，不妨考虑下面的工具：</p>
        <ul>
            <li><a href="https://manim.community" target="_blank">Manim Community</a>: 一个基于 cairo 版本 manim 的开源项目（后来也逐步支持了 shader），提供了丰富的文档和样例，语言为英文。</li>
            <li><a href="https://github.com/jkjkil4/JAnim" target="_blank">JAnim</a>: 一个由国人（目前正在持续）维护的，带有可视化界面的 manim 复刻版，群号 970174336。</li>
            <li><a href="https://mafs.dev/" target="_blank">mafs</a>: 一个由 React.js 驱动的，基于 SVG 的动画库。</li>
            <li><a href="https://motioncanvas.io" target="_blank">MotionCanvas</a>: 一个基于 TypeScript 和 Canvas 的动画库。</li>
            <li><a href="https://github.com/YishiMichael/manim3" target="_blank">manim3</a>: 一个由国人（似乎不再）维护的 manim 复刻版。</li>
        </ul>
        <a href="/" class="back-button">返回首页</a>
    </div>
</Layout>