---
import Layout from '../layouts/Layout.astro';
---

<Layout>
    <div class="container">
        <h1>相关教程（旧）</h1>
        <ul>
            <li>由 Manim Kindergarten（不再）维护的网站 <a href="http://manim.org.cn" target="_blank">manim.org.cn</a></li>
            <li>部分 Bilibili 视频教程
                <ul>
                    <li><a href="https://www.bilibili.com/video/BV1p54y197cC/" target="_blank">〔manim教程〕第一讲 物体的位置与坐标变换</a>（可点进 UP 主查看更多视频）</li>    
                    <li>一些 UP 主（<ruby>乐<rp>(</rp><rt>yuè</rt><rp>)</rp></ruby>正垂星、漫士、梵hxj等）在 2024 年的<a href="https://space.bilibili.com/2057313067" target="_blank">视频教程</a></li>    
                    <li>部分 <a href="https://www.bilibili.com/video/BV1EA411g7tz" target="_blank">Updater 教程</a>（该 UP 已转战游戏区）</li>
                    <li><a href="https://www.bilibili.com/video/BV1nA411672W" target="_blank">Grant 的直播回放</a></li>
                    <li><a href="https://www.bilibili.com/video/BV1W4411Z7Zt" target="_blank">远古版本教程</a></li>
                    <li><a href="https://www.bilibili.com/video/BV1DP411Q72R" target="_blank">搬运外网教程</a></li>
                </ul>
            <li><a href="https://www.widcard.win/blog/posts/manim/quadratic_bezier_shader/" target="_blank">manimgl 二阶贝塞尔曲线的上色机制</a></li>       
            <li><a href="https://www.widcard.win/blog/posts/manim/details-about-shader-of-bezier-curve/" target="_blank">关于 manim 中贝塞尔曲线上色的细节补充</a></li>
        </ul>
        <a href="/" class="back-button">返回首页</a>
    </div>
</Layout>
